.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/*--- Var ---*/
/* Layout
-----------------------------------*/
.header {
  height: 70px;
  padding: 0;
  color: #646464;
  font-size: 12px;
  border-bottom: 10px solid #6ba7d7;
  background-color: #ffffef;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisans_neueregular';
  src: url("../fonts/thaisansneue-regular-webfont.eot");
  src: url("../fonts/thaisansneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-regular-webfont.woff") format("woff"), url("../fonts/thaisansneue-regular-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisansneue_light';
  src: url("../fonts/thaisansneue-light-webfont.eot");
  src: url("../fonts/thaisansneue-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-light-webfont.woff") format("woff"), url("../fonts/thaisansneue-light-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-light-webfont.svg#thaisansneue_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisansneue_bold';
  src: url("../fonts/thaisansneue-bold-webfont.eot");
  src: url("../fonts/thaisansneue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-bold-webfont.woff") format("woff"), url("../fonts/thaisansneue-bold-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-bold-webfont.svg#thaisansneue_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisansneue_black';
  src: url("../fonts/thaisansneue-black-webfont.eot");
  src: url("../fonts/thaisansneue-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/thaisansneue-black-webfont.woff") format("woff"), url("../fonts/thaisansneue-black-webfont.ttf") format("truetype"), url("../fonts/thaisansneue-black-webfont.svg#thaisansneue_black") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrow Button
-----------------------------------*/
.btn-arrow {
  display: block;
  width: 45px;
  height: 25px;
  text-indent: -999em;
  background: #f2f2ee url("../images/icon-arrow-app.png") no-repeat left top;
}
.btn-arrow:hover {
  cursor: pointer;
}

.btn-up {
  background-position: 0 0;
}
.btn-up:hover {
  background-position: -45px 0;
}

.btn-down {
  background-position: 0 -25px;
}
.btn-down:hover {
  background-position: -45px -25px;
}

.btn-left {
  background-position: 0 -50px;
}
.btn-left:hover {
  background-position: -45px -50px;
}

.btn-right {
  background-position: 0 -77px;
}
.btn-right:hover {
  background-position: -45px -77px;
}

.btn-group {
  margin: 10px 0 15px 0;
}

.btn-action {
  width: 50px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  color: #959595;
  text-decoration: none;
  text-transform: uppercase;
  /*font-family: open_sansbold;*/
  font-family: thaisansneue_black;
  background: #c4c4c4 url("../images/line-opacity.png") no-repeat left top;
}
.btn-action:hover {
  color: #5D5D5D;
}

.btn-active {
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  color: #03559d;
  background-color: #b1e46e;
}
.btn-active-edit {
  color: #e98223;
}
.btn-active:hover {
  color: #5D5D5D;
}

.more .btn-arrow {
  margin: 0 auto;
  background-image: url("../images/icon-arrow-app.png");
  background-repeat: no-repeat;
  background-color: #fafaf2;
}

/* Icon on Present, Report
-----------------------------------*/
.icon-graph {
  display: block;
  width: 45px;
  height: 45px;
  text-indent: -999em;
  background: #f2f2ee url("../images/icon-graph.png") no-repeat 5px -40px;
}

.present-bar {
  background-position: 5px -40px;
}
.present-bar:hover {
  background-position: -45px -40px;
}

.present-bar-percent {
  background-position: 5px -90px;
}
.present-bar-percent:hover {
  background-position: -45px -90px;
}

.present-line {
  background-position: 5px -140px;
}
.present-line:hover {
  background-position: -45px -140px;
}

.present-curve {
  background-position: 5px -190px;
}
.present-curve:hover {
  background-position: -45px -190px;
}

.present-area {
  background-position: 5px -240px;
}
.present-area:hover {
  background-position: -45px -240px;
}

.present-area-percent {
  background-position: 5px -290px;
}
.present-area-percent:hover {
  background-position: -45px -290px;
}

.report-economy {
  background-position: 5px -340px;
}
.report-economy:hover {
  background-position: -45px -340px;
}

.report-stock {
  background-position: 5px -390px;
}
.report-stock:hover {
  background-position: -45px -390px;
}

.report-barchart {
  background-position: 5px -440px;
}
.report-barchart:hover {
  background-position: -45px -440px;
}

.report-piechart {
  background-position: 7px -493px;
}
.report-piechart:hover {
  background-position: -43px -493px;
}

/* Icon for item block
-----------------------------------*/
.icon-stock {
  display: block;
  width: 70px;
  height: 60px;
  text-indent: -999em;
  text-align: center;
  background: url("../images/icon-stock.png") no-repeat 0 0;
}

.icon-text {
  font-size: 14px;
  text-align: center;
}

.icon-cash {
  background-position: 0 -60px;
}

.icon-asset-current {
  background-position: 13px -120px;
}

.icon-asset-none {
  margin: 0 0 2px 17px;
  background-position: 0 -180px;
}

.icon-liab-eq {
  background-position: 0 -240px;
}

.icon-current-liab {
  background-position: 8px -300px;
}

.icon-noncurrent-liab {
  margin: 0 0 2px 0;
  background-position: 8px -360px;
}

.icon-equity {
  background-position: 0 -420px;
}

.icon-set, .item-detail {
  float: left;
}

/* Icon Status
-----------------------------------*/
.icon-status {
  float: left;
  width: 19px;
  height: 20px;
  margin: 0 10px 0 0;
  background: url("../images/icon-arrow.png") no-repeat left top;
}

.icon-down {
  background-position: -19px 0;
}

.icon-normal {
  background-position: -38px 0;
}

/* Icon
-----------------------------------*/
.icon-safety {
  float: left;
  width: 30px;
  height: 35px;
  margin: 0 20px 0 0;
  background-position: 0 -480px;
}

.icon-liabilities {
  float: left;
  width: 30px;
  height: 35px;
  margin: 0 20px 0 0;
  background-position: -69px -480px;
}

.icon-plus, .icon-minus {
  float: left;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  background: transparent url("../images/icon-plus-minus.png") no-repeat left top;
}
.icon-plus:hover, .icon-minus:hover {
  cursor: pointer;
}

.icon-minus {
  background-position: -20px 0;
}

.sum {
  margin: 0 20px 0;
  color: #e98223;
  font-size: 18px;
}

.summary {
  position: relative;
  z-index: 99;
}

.summary-chart .item-block {
  margin: 0 30px 0 0;
}
.summary-chart .item-last {
  margin: 25px 40px 0 0;
}

/* Icon Tracking Page
-----------------------------------*/
.icon-customer, .icon-report, .icon-report-wait, .icon-msg, .Untitled-5 {
  float: left;
  margin: 0 15px 10px 0;
  background: url("../images/icon-tracking-page.png") no-repeat;
}

.icon-salary, .icon-save-money {
  float: left;
  margin: 0 15px 10px 0;
  background: url("../images/icon-finance.png") no-repeat;
}

.icon-customer {
  background-position: 0 0;
  width: 54px;
  height: 54px;
}

.icon-report {
  background-position: -100px 0;
  width: 40px;
  height: 28px;
}

.icon-report-wait {
  background-position: -200px 0;
  width: 37px;
  height: 28px;
}

.icon-msg {
  background-position: -300px 0;
  width: 28px;
  height: 28px;
}

.Untitled-5 {
  background-position: -350px 0;
  width: 8px;
  height: 6px;
}

.icon-salary {
  background-position: 0 10px;
  width: 36px;
  height: 34px;
}

.icon-save-money {
  background-position: 0 -36px;
  width: 36px;
  height: 34px;
}

/* Nav
-----------------------------------*/
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li a {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100px;
  height: 25px;
  font-size: 16px;
  padding: 45px 0 0;
  color: #959595;
  text-align: center;
  text-decoration: none;
  background: url("../images/icon-topbar.png") no-repeat left top;
}
.nav li a:hover {
  color: #ffffef;
  background-color: #6ba7d7;
}
.nav .active {
  color: #ffffef;
  background-color: #6ba7d7;
}
.nav .dashboard a {
  background-position: 35px 10px;
}
.nav .dashboard a:hover, .nav .dashboard a.active {
  background-position: -65px 10px;
}
.nav .conversation a {
  background-position: 35px -90px;
}
.nav .conversation a:hover, .nav .conversation a.active {
  background-position: -65px -90px;
}
.nav .schedule a {
  background-position: 35px -186px;
}
.nav .schedule a:hover, .nav .schedule a.active {
  background-position: -65px -186px;
}
.nav .reports a {
  background-position: 35px -285px;
}
.nav .reports a:hover, .nav .reports a.active {
  background-position: -65px -285px;
}
.nav .payment a {
  background-position: 35px -383px;
}
.nav .payment a:hover, .nav .payment a.active {
  background-position: -65px -383px;
}

.nav-tracking li a {
  background: url("../images/nav-tracking.png") no-repeat left top;
}
.nav-tracking .nav-follow a {
  background-position: 35px 10px;
}
.nav-tracking .nav-follow a:hover, .nav-tracking .nav-follow a.active {
  background-position: -65px 10px;
}
.nav-tracking .nav-announcement a {
  background-position: 35px -90px;
}
.nav-tracking .nav-announcement a:hover, .nav-tracking .nav-announcement a.active {
  background-position: -65px -90px;
}
.nav-tracking .nav-customer a {
  background-position: 35px -186px;
}
.nav-tracking .nav-customer a:hover, .nav-tracking .nav-customer a.active {
  background-position: -65px -186px;
}
.nav-tracking .nav-team a {
  background-position: 35px -288px;
}
.nav-tracking .nav-team a:hover, .nav-tracking .nav-team a.active {
  background-position: -65px -288px;
}
.nav-tracking .nav-payment a {
  background-position: 35px -386px;
}
.nav-tracking .nav-payment a:hover, .nav-tracking .nav-payment a.active {
  background-position: -65px -386px;
}

/* Table
-----------------------------------*/
/*--- Set Default of Table ---*/
.table {
  color: #000;
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  border: 1px solid #ccc;
}

.table-gray {
  color: #959595;
}

.row {
  height: 45px;
  clear: both;
  border-bottom: 1px solid #ccc;
}

.row-even {
  background-color: #e8e8e4;
}

.thead {
  border-bottom: 1px solid #ccc;
  color: #959595;
}
.thead .color-col, .thead .description-col, .thead .month-col, .thead .trend-col {
  height: 30px;
  padding: 25px 10px 10px;
}
.thead .month-col {
  padding: 15px 10px 20px;
}

.tfooter {
  clear: both;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f3f3ef;
}
.tfooter .description-col, .tfooter .color-col, .tfooter .trend-col {
  height: 20px;
  padding: 5px 10px 10px;
}

.table-color .color-col {
  font-size: 11px;
  width: 30px;
  padding: 25px 5px 10px;
}
.table-color .tbody .color-col {
  font-size: 11px;
  width: 30px;
  padding: 15px 5px 10px;
}
.table-color .tfooter .color-col {
  padding: 15px 5px 0px;
}

.table-result {
  position: relative;
  width: 960px;
}
.table-result .color {
  width: 40px;
}
.table-result .description {
  width: 340px;
}
.table-result .month {
  width: 95px;
}
.table-result .trend {
  position: absolute;
  top: auto;
  right: 0;
  width: 115px;
  background-color: gray;
}
.table-result tr {
  position: relative;
}

.table-benchmark {
  color: #959595;
}
.table-benchmark .color-col {
  width: 60px;
}
.table-benchmark .description-col {
  width: 320px;
}
.table-benchmark .tbody {
  background-color: #f2f2ee;
}
.table-benchmark .thead .color-col {
  height: 20px;
  padding: 15px 10px 30px 10px;
}

/*--- Set Colunm ---*/
.name-col {
  float: left;
  width: 422px;
  text-align: center;
  border-left: 1px solid #ccc;
  background-color: #f9f9ef;
}

/*--- Set Overflow for hidden col item panel ---*/
.month-wrap-col {
  float: left;
  width: 400px;
  overflow: hidden;
  text-align: center;
  background-color: #f9f9ef;
}

/*--- Set width for maximun item ---*/
.month-inner {
  width: 2000px;
}

.month-space-col {
  float: left;
  width: 400px;
}

.detail-col {
  float: left;
  width: 134px;
  text-align: center;
  border-right: 1px solid #ccc;
  background-color: #f9f9ef;
}

.color-col {
  float: left;
  width: 40px;
  height: 20px;
  padding: 15px 10px 10px;
  font-family: open_sansregular;
  border-right: 1px solid #ccc;
}

.description-col {
  float: left;
  width: 360px;
  height: 20px;
  padding: 15px 10px 10px;
  font-family: open_sansregular;
  border-right: 1px solid #ccc;
}

.month-col {
  float: left;
  width: 80px;
  height: 20px;
  padding: 5px 10px 20px;
  text-transform: uppercase;
  font-family: open_sansregular;
  border-right: 1px solid #ccc;
}

.trend-col {
  float: left;
  width: 110px;
  height: 25px;
  padding: 10px;
  font-family: open_sansregular;
  border-left: 1px solid #ccc;
}

.description-col .btn-left {
  float: right;
}

.description-text {
  float: left;
  margin: 0 0 0 20px;
}

.month-detail {
  text-align: right;
  height: 20px;
  padding: 15px 10px 10px;
}

/*--- Color Row ---*/
.blue-row {
  background-color: #e4eaec;
  color: #6ba7d7;
}
.blue-row .row-even {
  background-color: #dbe1e1;
}

.blue-light-row {
  background-color: #ecefee;
  color: #959595;
}
.blue-light-row .row-even {
  background-color: #e1e4e2;
}

.blue-lighten-row {
  background-color: #0f9dd5;
  color: #959595;
}
.blue-lighten-row .row-even {
  background-color: #e1e4e2;
}

.blue-mid-row {
  background-color: #ddecee;
  color: #6ba7d7;
}
.blue-mid-row .row-even {
  background-color: #d1dee0;
}

.blue-mid-light-row {
  background-color: #e6eeed;
  color: #959595;
}
.blue-mid-light-row .row-even {
  background-color: #dce3e2;
}

.blue-mid-lighten-row {
  background-color: #e7efee;
  color: #959595;
}
.blue-mid-lighten-row .row-even {
  background-color: #dce3e2;
}

.blue-dark-row {
  background-color: #dbe3e7;
  color: #6ba7d7;
}
.blue-dark-row .row-even {
  background-color: #d1dadd;
}

.blue-dark-light-row {
  background-color: #e7ebeb;
  color: #959595;
}
.blue-dark-light-row .row-even {
  background-color: #dbe0df;
}

.blue-dark-lighten-row {
  background-color: #e8ecec;
  color: #959595;
}
.blue-dark-lighten-row .row-even {
  background-color: #dbe0df;
}

.orange-row {
  background-color: #f1e1dc;
  color: #df5226;
}
.orange-row .row-even {
  background-color: #e5d5d0;
}

.orange-light-row {
  background-color: #f1e9e5;
  color: #959595;
}
.orange-light-row .row-even {
  background-color: #e7dfda;
}

.orange-lighten-row {
  background-color: #f1e9e5;
  color: #959595;
}
.orange-lighten-row .row-even {
  background-color: #e7dfda;
}

.orange-mid-row {
  background-color: #f2e3d2;
  color: #e98326;
}
.orange-mid-row .row-even {
  background-color: #e8d9c8;
}

.orange-mid-light-row {
  background-color: #f2e8db;
  color: #959595;
}
.orange-mid-light-row .row-even {
  background-color: #e7ddd0;
}

.orange-mid-lighten-row {
  background-color: #f2ede5;
  color: #959595;
}
.orange-mid-lighten-row .row-even {
  background-color: #e7ddd0;
}

.orange-dark-row {
  background-color: #f4ecdb;
  color: #f1aa1f;
}
.orange-dark-row .row-even {
  background-color: #e8e1cf;
}

.orange-dark-light-row {
  background-color: #f4f0e5;
  color: #959595;
}
.orange-dark-light-row .row-even {
  background-color: #e7e3d8;
}

.orange-dark-lighten-row {
  background-color: #f4f0e5;
  color: #959595;
}
.orange-dark-lighten-row .row-even {
  background-color: #e7e3d8;
}

/*--- Heading (Colour Column) ---*/
.blue-row-1 {
  background: #6ba7d7 url("../images/line-opacity-small.png") no-repeat left top;
}

.blue-row-2 {
  background: #6ba7d7 url("../images/line-opacity-med.png") no-repeat left top;
}

.blue-row-3 {
  background: #6ba7d7 url("../images/line-opacity-large.png") no-repeat left top;
}

.blue-light-row-1 {
  background: #0f9dd5 url("../images/line-opacity-small.png") no-repeat left top;
}

.blue-light-row-2 {
  background: #0f9dd5 url("../images/line-opacity-med.png") no-repeat left top;
}

.blue-light-row-3 {
  background: #0f9dd5 url("../images/line-opacity-large.png") no-repeat left top;
}

.blue-dark-row-1 {
  background: #03559d url("../images/line-opacity-small.png") no-repeat left top;
}

.blue-dark-row-2 {
  background: #03559d url("../images/line-opacity-med.png") no-repeat left top;
}

.blue-dark-row-3 {
  background: #03559d url("../images/line-opacity-large.png") no-repeat left top;
}

/*--- Orange ---*/
.orange-row-1 {
  background: #df5125 url("../images/line-opacity-small.png") no-repeat left top;
}

.orange-row-2 {
  background: #df5125 url("../images/line-opacity-med.png") no-repeat left top;
}

.orange-row-3 {
  background: #e15b32 url("../images/line-opacity-large.png") no-repeat left top;
}

.orange-light-row-1 {
  background: #e98223 url("../images/line-opacity-small.png") no-repeat left top;
}

.orange-light-row-2 {
  background: #e98223 url("../images/line-opacity-med.png") no-repeat left top;
}

.orange-light-row-3 {
  background: #e98223 url("../images/line-opacity-large.png") no-repeat left top;
}

.orange-dark-row-1 {
  background: #f1a91d url("../images/line-opacity-small.png") no-repeat left top;
}

.orange-dark-row-2 {
  background: #f1a91e url("../images/line-opacity-med.png") no-repeat left top;
}

.orange-dark-row-3 {
  background: #f1a91d url("../images/line-opacity-large.png") no-repeat left top;
}

.indent-lv1 {
  margin-left: 30px;
}

.indent-lv2 {
  margin-left: 45px;
}

.indent-lv3 {
  margin-left: 55px;
}

.heading-summary {
  font-family: open_sanslight;
}

.heading-big {
  margin: 10px 0 0;
  font-size: 18px;
}

.heading-small {
  font-size: 37px;
}

/* Logo
-----------------------------------*/
.logo {
  float: left;
  margin: 5px 25px 0 -50px;
}

/* Profile
-----------------------------------*/
.profile {
  float: left;
  width: 230px;
  margin: 10px 0 0 30px;
}

.profile-detail {
  font-size: 16px;
}

.profile-image {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin: 8px 10px 0 0;
}
.profile-image img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.profile-image:hover .profile-mask {
  display: block;
  cursor: pointer;
}
.profile-image .profile-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("../images/profile-mask.png") no-repeat left top;
}

.mask-topbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 35px;
  height: 35px;
  background: transparent url("../images/mask-topbar.png") no-repeat left top;
}

.profile-log {
  margin: 5px 0 0;
}

.profile-log, .profile-msg, .profile-name {
  float: left;
}

/* Common
-----------------------------------*/
.box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  width: 90px;
  margin: 0 0 0 10px;
  padding: 2px;
  text-align: center;
  background-color: #e3e3db;
}
.box:hover {
  color: #03559d;
  background-color: #c7c7c7;
}

.circle {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  color: #959595;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  background-color: #c7c7c7;
}

.circle-last {
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.t-small {
  font-size: 10px;
}

.logout {
  position: absolute;
  top: 20px;
  right: -30px;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  background: url("../images/icon-topbar.png") no-repeat 0 -500px;
}
.logout:hover {
  background-position: -99px -500px;
}

.black {
  color: #000;
}

.item-chart {
  width: 190px;
}

.calendar-select {
  position: relative;
}
.calendar-select .month-item {
  background: #c7c7c7;
  padding: 5px 10px;
}
.calendar-select .month-items {
  position: absolute;
  top: 17px;
  left: 5px;
  z-index: 999;
  width: 54px;
  text-align: center;
}
.calendar-select .month-item {
  padding: 4px 0;
}
.calendar-select .month-item:hover {
  background: #aaa;
  cursor: pointer;
}
.calendar-select .year-items {
  width: 58px;
}
.calendar-select .hide {
  display: none;
}
.calendar-select *:hover {
  cursor: pointer;
}

/* Menu
-----------------------------------*/
.menu {
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  padding: 10px 20px;
  margin: 20px 0 20px;
  font-size: 12px;
  background-color: #f4f4f0;
}

.mqy, .label {
  float: left;
  width: 110px;
  margin: 0 40px 0 0;
}

.mqy .active, .mqy a:hover {
  color: #fff;
  background-color: #e98223;
}

.label .active, .label a:hover {
  color: #fff;
  background-color: #03559d;
}

.timeframe .active, .timeframe a:hover {
  color: #fff;
  background-color: #6ba7d7;
}

.timeframe .active, .timeframe a:hover {
  color: #fff;
  background-color: #6ba7d7;
}

.paper a {
  color: #fff;
  display: block;
  text-indent: -999em;
  background: #c7c7c7 url("../images/icon-graph.png") no-repeat 8px 7px;
}
.paper .active, .paper a:hover {
  background: #f3ac1c url("../images/icon-graph.png") no-repeat 8px 7px;
}

.timeframe {
  float: left;
  width: 160px;
  margin: 0 40px 0 0;
}

/* Notification
-----------------------------------*/
.notification {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 10px;
  height: 10px;
  padding: 3px;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #fff;
  background-color: #d53328;
}

/* Notification Sidebar
-----------------------------------*/
.notification-block {
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  position: absolute;
  top: 0;
  right: -55px;
  width: 45px;
  height: 50px;
  background-color: #f4f4f0;
}
.notification-block .notification {
  top: 30px;
  right: 14px;
  font-size: 10px;
  text-decoration: none;
}

.none {
  background-color: #c7c7c7;
}

.notification-alert {
  width: 27px;
  height: 30px;
  margin: 5px auto;
  background: transparent url("../images/icon-graph.png") no-repeat -50px 0;
}

/* Menu Sidebar
-----------------------------------*/
.present, .report {
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  position: absolute;
  top: 70px;
  left: -55px;
  width: 45px;
}
.present .active, .present a.icon-graph:hover, .report .active, .report a.icon-graph:hover {
  background-color: #6ba7d7;
}

.report {
  left: auto;
  top: 70px;
  right: -55px;
}

/* Item Block Summary
-----------------------------------*/
.item-container {
  -moz-box-shadow: 1px 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px 1px #cccccc;
  padding: 10px;
  color: #959595;
  font-family: open_sansregular;
  background-color: #fafaf3;
}

.item-block {
  float: left;
  margin: 0 20px 0 0;
}
.item-block .text-sm {
  font-size: 12px;
}

.item-last {
  float: right;
  margin: 0;
  text-align: center;
}

.item-detail {
  margin: 5px 0 0 10px;
}
.item-detail .item-date {
  width: 60px;
}
.item-detail .item-date-month {
  font-size: 32px;
  line-height: 26px;
  font-family: open_sanslight;
}
.item-detail .item-date-year {
  font-size: 26px;
  font-family: open_sanslight;
}
.item-detail .item-value {
  margin: 0 0 5px;
  font-size: 20px;
  color: #959595;
}

/* Status
-----------------------------------*/
.status-up {
  color: #6ba7d7;
}

.status-down {
  color: #e98223;
}

/* Chart
-----------------------------------*/
.chart {
  float: left;
  margin: 15px 10px 0 0;
}

.chart-vertical {
  position: relative;
  width: 25px;
  height: 60px;
  font-size: 13px;
  background: #c4c4c4 url("../images/line-opacity.png") no-repeat left top;
}

.chart-v-top {
  position: absolute;
  top: -20px;
  left: 0;
}

.chart-v-bottom {
  position: absolute;
  bottom: -20px;
  left: 7px;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  background-color: blue;
}

.progress-hori-bar {
  position: absolute;
  height: 20px;
}

.bar-mask {
  position: relative;
  width: 25px;
  height: 60px;
  z-index: 99;
  background: url("../images/line-opacity.png") no-repeat left top;
}

.bar-hori-mask {
  width: 40px;
  height: 20px;
}

.color-bar-1 {
  background-color: #2a3b84;
}

.color-bar-2 {
  background-color: #6ca8d7;
}

.color-bar-3 {
  background-color: #f1a91d;
}

.chart-hori-bar {
  margin: 5px 0 8px;
  font-family: open_sanslight;
}

.chart-hori-top, .chart-hori-bottom {
  float: left;
  width: 125px;
  height: 20px;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #6ca8d7 url("../images/line-opacity.png") no-repeat left top;
}

.chart-hori-bottom {
  width: 65px;
  background: #e98223 url("../images/line-opacity.png") no-repeat left top;
}

.chart-hori-small {
  position: relative;
  width: 40px;
  height: 20px;
  padding: 0;
  margin: 0 0 0 10px;
  background: #c4c4c4 url("../images/line-opacity.png") no-repeat left top;
}

/* Calendar Menu
-----------------------------------*/
.calendar {
  float: left;
  margin: 0 0 0 50px;
}

.calendar-month, .calendar-year {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 15px;
  margin: 0 5px;
  line-height: 30px;
  color: #2a3b84;
  background-color: #c7c7c7;
}

.calendar-year {
  color: #fff;
}

.calendar-label {
  color: #959595;
}

.punn-modal .modal-title {
  color: #646464;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.punn-modal .modal-header, .punn-modal .modal-footer {
  border: none;
  padding: 10px 15px;
  text-align: center;
}
.punn-modal .sr-only {
  display: none;
}
.punn-modal .modal-body {
  padding: 0 15px;
  color: #646464;
  font-size: 16px;
}
.punn-modal .modal-body .form-item {
  clear: both;
  margin: 0 0 10px;
}
.punn-modal .modal-body .form-item .form-left {
  float: left;
  width: 100px;
  text-align: right;
  margin: 0 10px 0 0;
  padding: 5px 0 0;
}
.punn-modal .modal-body .form-item .form-right {
  float: left;
}
.punn-modal .modal-body .form-item .form-center {
  clear: both;
  text-align: center;
}
.punn-modal .modal-body .form-item .form-center input {
  width: 180px;
}
.punn-modal .modal-body input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 150px;
  padding: 7px 12px;
  border: none;
  background-color: #E4E4E4;
}
.punn-modal .modal-body input:focus {
  outline: none;
  background-color: #cbcbcb;
}
.punn-modal .modal-body select {
  border: none;
  padding: 7px 12px;
  background-color: #E4E4E4;
}
.punn-modal .close:hover {
  color: red;
}
.punn-modal .modal-footer a {
  width: 20px;
  font-size: 16px;
  display: inline-block;
}
.punn-modal .modal-content {
  background: rgba(255, 255, 255, 0.9);
}

#accountModal .modal-dialog, #imModal .modal-dialog, #exModal .modal-dialog {
  width: 350px;
}

#chatModal .modal-dialog {
  margin-top: 200px;
}

#imModal .modal-body, #exModal .modal-body {
  text-align: center;
}
#imModal .modal-dialog, #exModal .modal-dialog {
  margin-top: 200px;
}

/*Check*/
.follow-up {
  position: relative;
  height: 15px;
  width: 150px;
  margin: 0 auto;
}
.follow-up .check-line {
  position: absolute;
  top: 4px;
  left: 0;
  width: 147px;
  height: 2px;
  background: #ccc;
}
.follow-up .check {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 9;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 13px 0 0;
  background: red url("../images/icon-tracking-page.png") no-repeat -349px 2px;
  position: relative;
}
.follow-up .check:hover .over {
  display: block;
}
.follow-up .check-last {
  margin: 0;
}
.follow-up .over {
  display: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  left: 0;
  width: 80px;
  text-align: center;
  padding: 5px 7px;
  color: #333;
  background: #f9f9f9;
}
.follow-up .uncheck {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 13px 0 0;
  background: #ccc;
}

.follow-mtn {
  text-align: center;
  margin: 0 0 5px;
}

.follow-done {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 35px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 11px;
  background-color: red;
}

/*Chat log*/
.chat-host-1, .chat-host-2 {
  float: left;
  width: 40px;
  margin: 2px 7px 0 0;
}

.chat-log p {
  margin: 0;
  text-align: left;
  color: #646464;
}

#chatModal .modal-dialog {
  width: 350px;
}
#chatModal .chat-msg {
  height: 100px;
  overflow-y: scroll;
}

.im-stauts {
  width: 150px;
  word-break: break-all;
}

/* IE7
-----------------------------------*/
*:first-child + html .menu {
  overflow: hidden;
}
*:first-child + html .calendar {
  margin: 0 0 0 40px;
}
*:first-child + html .item-container {
  overflow: hidden;
}
*:first-child + html .item-last {
  width: 130px;
}
*:first-child + html .nav li {
  float: left;
}
*:first-child + html .present {
  top: 90px;
}
*:first-child + html .report {
  top: 90px;
}
*:first-child + html .notification-block {
  top: 20px;
}
*:first-child + html .tfooter {
  overflow: hidden;
}
*:first-child + html .chart-hori-bar {
  width: 180px;
  overflow: hidden;
}
*:first-child + html .sum {
  margin: 0 0 0 10px;
}
*:first-child + html .summary-chart .item-last {
  margin-right: 0;
}
*:first-child + html .logo {
  border: none;
}
*:first-child + html .logo img {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: thaisansneue_black, Thonburi,Arial,sans-serif;
  font-weight: lighter;
  background-color: #e0e0e0;
}
body.lang-en {
  /*font-family: open_sansregular;*/
}
body.lang-th {
  /*font-family: thaisans_neueregular;*/
}

.table-management-report {
  color: #646464;
  border-collapse: collapse;
  width: 960px;
}
.table-management-report td {
  border: 1px solid #ccc;
  background-color: #f2f2ee;
}
.table-management-report th {
  padding: 5px 0;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
}
.table-management-report .header-info {
  width: 300px;
}
.table-management-report .header-finance {
  width: 200px;
}
.table-management-report .header-im {
  width: 200px;
}
.table-management-report .header-follow {
  width: 200px;
}
.table-management-report .col-info {
  background-color: #f9f9ef;
}
.table-management-report .col-finance {
  background-color: #d5e3e4;
}
.table-management-report .col-im {
  background-color: #f9edce;
}
.table-management-report .col-follow {
  background-color: #f6dfcf;
}
.table-management-report .col-center {
  text-align: center;
}
.table-management-report .col-center .btn-action {
  margin: 0;
}
.table-management-report .profile-img {
  width: 30px;
  margin: 5px auto;
}
.table-management-report .company-name {
  padding: 0 5px;
}
.table-management-report .im-stauts {
  position: relative;
}
.table-management-report .im-stauts .dotted-color {
  position: absolute;
  top: 47%;
  left: 10px;
}
.table-management-report .im-stauts .im-msg, .table-management-report .im-stauts .im-time {
  padding: 0 0 0 30px;
  float: left;
}
.table-management-report .im-stauts .im-time {
  color: #959595;
}

.block {
  display: block;
  margin: 0 0 2px;
}

.company-owner,
.company-pm {
  color: #646464;
}

.radius {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

.radius-10 {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

/*Label Color*/
.label-color {
  color: #646464;
  padding: 2px 7px;
}

.label-color-1 {
  background-color: #98c2e3;
}

.label-color-2 {
  background-color: #f5c361;
}

.label-color-3 {
  color: #fff;
  background-color: #4f88bb;
}

.label-color-4 {
  background-color: #e98667;
}

.label-color-5 {
  background-color: #f0a865;
}

/*Label Color*/
.dotted-color {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
}

.dotted-color-1 {
  background-color: #df5125;
}

.dotted-color-2 {
  background-color: #e98223;
}

.dotted-color-3 {
  background-color: #f1a91d;
}

/*btn*/
.btn-im {
  color: #03559d;
  background-color: #80a7cb;
}

.btn-im-active {
  color: #5b6799;
  background-color: #9098bc;
}

.btn-blue {
  color: #fff;
  background-color: #c0d5e3;
}
.btn-blue:hover {
  color: #fff;
  background-color: #93bddf;
}

.btn-green {
  background-color: #f0dbb1;
}
.btn-green:hover {
  color: #fff;
  background-color: #f1be5d;
}

.btn-gray {
  background-color: #d3d3d3;
}
.btn-gray:hover {
  color: #fff;
  background-color: #b9b9b9;
}

.btn-dark-green {
  display: block;
  width: 148px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  color: #5c8b1d;
  text-align: center;
  background-color: #b7e679;
}
.btn-dark-green:hover {
  color: #309764;
  background-color: #83dcb0;
}

/*Tracking Page*/
.tracking-summary {
  padding: 13px 15px 3px;
  color: #646464;
  font-family: thaisansneue_black;
  /*Text*/
}
.tracking-summary .item-block {
  width: 160px;
  text-align: center;
}
.tracking-summary .customer-total {
  font-size: 18px;
}
.tracking-summary .msg-status {
  margin: 20px 0 0;
}
.tracking-summary .msg-status .dotted-color {
  margin: 5px 5px 0 0px;
}
.tracking-summary .icon-customer {
  margin: 15px 0 0;
}
.tracking-summary .icon-msg {
  margin: 0;
}
.tracking-summary .customer-report, .tracking-summary .msg-status {
  overflow: hidden;
  font-size: 14px;
}
.tracking-summary .customer-report .block, .tracking-summary .msg-status .block {
  font-size: 18px;
}

/*create-new-account*/
.create-new-account {
  margin: 20px 0 10px;
}

.company-name {
  color: #2a3b84;
  text-decoration: underline;
}

.tracking-summary .item-block.small {
  width: auto;
  text-align: center;
}

.col-info {
  position: relative;
  padding: 20px 0 !important;
}

.table-sort .icon-sort {
  display: none;
}
.table-sort:hover .icon-sort {
  display: block;
}

.icon-sort {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -13px;
  padding: 5px 5px 10px 5px;
  width: 15px;
  height: 7px;
  text-indent: -999em;
  background: transparent url("../images/icon-sort.png") no-repeat top left;
}
.icon-sort.left {
  left: 15px;
}
.icon-sort.right {
  left: 35px;
}
.icon-sort:hover {
  cursor: pointer;
}
.icon-sort.desc {
  background-position: 6px 6px;
}
.icon-sort.desc:hover {
  background-position: -15px 6px;
}
.icon-sort.asc {
  background-position: 6px -16px;
}
.icon-sort.asc:hover {
  background-position: -16px -16px;
}

.disable {
  background-color: #d8d8d8;
}

.radius-5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.table-management-report tr.even td {
  background-color: #e5e5e5;
}

.btn-dark-green.btn-dark-blue {
  display: block;
  width: 148px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  color: #4b84b6;
  text-align: center;
  background-color: #b5d3eb;
  -moz-box-shadow: 0px 1px 2px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 2px 0px #cccccc;
  box-shadow: 0px 1px 2px 0px #cccccc;
}
.btn-dark-green.btn-dark-blue:hover {
  color: #2a3b84;
  background-color: #81aace;
}

.item-block.on-off {
  margin-right: 8px;
}
.item-block.on-off .customer-report.middle {
  float: left;
  margin-right: 8px;
  margin-top: 25px;
}
.item-block.on-off .label-color {
  display: block;
  width: 20px;
  margin-right: 0;
  -moz-box-shadow: 0px 1px 1px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 1px 0px #cccccc;
  box-shadow: 0px 1px 1px 0px #cccccc;
}
.item-block.on-off .label-color:hover {
  cursor: pointer;
}
.item-block.on-off .off {
  color: #646464;
  background-color: #d8d8d8;
}
.item-block.on-off .off:hover {
  background-color: #dfdfdf;
}
.item-block.on-off .on.label-color-1:hover {
  background-color: #cadeea;
}
.item-block.on-off .on.label-color-2:hover {
  background-color: #f7d89a;
}
.item-block.on-off .on.label-color-3:hover {
  background-color: #78a4c8;
}
.item-block.on-off .on.label-color-4:hover {
  background-color: #e8997f;
}
.item-block.on-off .on.label-color-5:hover {
  background-color: #f5ca9f;
}

.item-block.margin-left-30 {
  margin-left: 30px;
}
.item-block.margin-left-30 .label-color {
  display: block;
}

.item-block.margin-left-50 {
  margin-left: 50px;
}
.item-block.margin-left-50 .label-color {
  display: block;
}

.table-client th {
  font-weight: normal;
}
.table-client .label-color {
  display: inline-block;
  width: 20px;
}

.checkmark {
  display: block;
  width: 14px;
  height: 12px;
  margin: 0 auto;
  background: transparent url("../images/check-mark.png") no-repeat top left;
}

.block-search {
  position: absolute;
  top: -58px;
  right: 0;
}

.client-search {
  border: none;
  text-align: center;
  padding: 5px 0;
  font-family: thaisansneue_black;
  font-size: 1.3em;
}
