/* Arrow Button
-----------------------------------*/
.btn-arrow{
	display: block;
	width: 45px;
	height: 25px;
	text-indent: -999em;
	background: #f2f2ee url('../images/icon-arrow-app.png') no-repeat left top;
	
	&:hover{
		cursor: pointer;
	}
}
.btn-up{
	background-position: 0 0;

	&:hover{
		background-position: -45px 0;
	}
}
.btn-down{
	background-position: 0 -25px;
	&:hover{
		background-position: -45px -25px;
	}	
}
.btn-left{
	background-position: 0 -50px;
	&:hover{
		background-position: -45px -50px;
	}	
}
.btn-right{
	background-position: 0 -77px;
	&:hover{
		background-position: -45px -77px;
	}	
}

.btn-group{
	margin: 10px 0 15px 0;
}
.btn-action{
	width: 50px;
	padding: 5px 10px;
	margin: 0 10px 0 0;
	color: #959595;
	text-decoration: none;
	text-transform: uppercase;
	/*font-family: open_sansbold;*/
	font-family: thaisansneue_black;
	background: #c4c4c4 url('../images/line-opacity.png') no-repeat left top;
	
	&:hover{
		color: #5D5D5D;
	}
}
.btn-active{
	@include box-shadow(1px 1px 1px 1px #ccc);
	color: #03559d;
	background-color: #b1e46e;
	
	&-edit{
		color: #e98223;
	}
	&:hover{
		color: #5D5D5D;
	}
}
.more{
	.btn-arrow{
		margin: 0 auto;
		background-image: url("../images/icon-arrow-app.png");
		background-repeat: no-repeat;
		background-color: #fafaf2;
	}	
}