@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue-regular-webfont.eot');
    src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-regular-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisansneue_light';
    src: url('../fonts/thaisansneue-light-webfont.eot');
    src: url('../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-light-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-light-webfont.svg#thaisansneue_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisansneue_bold';
    src: url('../fonts/thaisansneue-bold-webfont.eot');
    src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-bold-webfont.svg#thaisansneue_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisansneue_black';
    src: url('../fonts/thaisansneue-black-webfont.eot');
    src: url('../fonts/thaisansneue-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-black-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-black-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-black-webfont.svg#thaisansneue_black') format('svg');
    font-weight: normal;
    font-style: normal;
}