
/* Icon on Present, Report
-----------------------------------*/
.icon-graph{
	display: block;
	width: 45px;
	height: 45px;
	text-indent: -999em;
	background: #f2f2ee url('../images/icon-graph.png') no-repeat 5px -40px;
}
.present-bar{
	background-position: 5px -40px;
	&:hover{
		background-position: -45px -40px;	
	}
}
.present-bar-percent{
	background-position: 5px -90px;
	&:hover{
		background-position: -45px -90px;	
	}
}
.present-line{
	background-position: 5px -140px;
	&:hover{
		background-position: -45px -140px;	
	}
}
.present-curve{
	background-position: 5px -190px;
	&:hover{
		background-position: -45px -190px;	
	}
}
.present-area{
	background-position: 5px -240px;
	&:hover{
		background-position: -45px -240px;	
	}
}
.present-area-percent{
	background-position: 5px -290px;
	&:hover{
		background-position: -45px -290px;	
	}
}
.report-economy{
	background-position: 5px -340px;
	&:hover{
		background-position: -45px -340px;	
	}
}
.report-stock{
	background-position: 5px -390px;
	&:hover{
		background-position: -45px -390px;	
	}
}
.report-barchart{
	background-position: 5px -440px;
	&:hover{
		background-position: -45px -440px;	
	}
}
.report-piechart{
	background-position: 7px -493px;
	&:hover{
		background-position: -43px -493px;	
	}
}


/* Icon for item block
-----------------------------------*/
.icon-stock{
	display: block;
	width: 70px;
	height: 60px;
	text-indent: -999em;
	text-align: center;
	background: url('../images/icon-stock.png') no-repeat 0 0;
}
.icon-text{
	font-size: 14px;
	text-align: center;
}
.icon-cash{
	background-position: 0 -60px;
}
.icon-asset-current{
	background-position: 13px -120px;
}
.icon-asset-none{
	margin: 0 0 2px 17px;
	background-position: 0 -180px;
}
.icon-liab-eq{
	background-position: 0 -240px;
}
.icon-current-liab{
	background-position: 8px -300px;
}
.icon-noncurrent-liab{
	margin: 0 0 2px 0;
	background-position: 8px -360px;
}
.icon-equity{
	background-position: 0 -420px;
}
.icon-set, .item-detail{
	float: left;
}


/* Icon Status
-----------------------------------*/
.icon-status{
	float: left;
	width: 19px;
	height: 20px;
	margin: 0 10px 0 0;
	background: url('../images/icon-arrow.png') no-repeat left top;
}
.icon-down{
	background-position: -19px 0;
}
.icon-normal{
	background-position: -38px 0;
}


/* Icon
-----------------------------------*/
.icon-safety{
	float: left;
	width: 30px;
	height: 35px;
	margin: 0 20px 0 0;
	background-position: 0 -480px;
}
.icon-liabilities{
	float: left;
	width: 30px;
	height: 35px;
	margin: 0 20px 0 0;
	background-position: -69px -480px;
}
.icon-plus, .icon-minus{
	float: left;
	width: 20px;
	height: 20px;
	text-indent: -999em;
	background: transparent url('../images/icon-plus-minus.png') no-repeat left top;
	
	&:hover{
		cursor: pointer;
	}
}
.icon-minus{
	background-position: -20px 0;
}

.sum{
	margin: 0 20px 0;
	color: #e98223;
	font-size: 18px;
}
.summary{
	position: relative;
	z-index: 99;
}
.summary-chart{
	.item-block{
		margin: 0 30px 0 0;
	}
	.item-last{
		margin: 25px 40px 0 0;
	}
}



/* Icon Tracking Page
-----------------------------------*/
.icon-customer, .icon-report, .icon-report-wait, .icon-msg, .Untitled-5{
	float: left;
	margin: 0 15px 10px 0;
	background: url('../images/icon-tracking-page.png') no-repeat;
}
.icon-salary, .icon-save-money {
	float: left;
	margin: 0 15px 10px 0;
	background: url('../images/icon-finance.png') no-repeat;
}

.icon-customer{
	background-position: 0 0;
	width: 54px;
	height: 54px;
}

.icon-report{
	background-position: -100px 0;
	width: 40px;
	height: 28px;
}

.icon-report-wait{
	background-position: -200px 0;
	width: 37px;
	height: 28px;
}

.icon-msg{
	background-position: -300px 0;
	width: 28px;
	height: 28px;
}

.Untitled-5{
	background-position: -350px 0;
	width: 8px;
	height: 6px;
}

.icon-salary {
	background-position: 0 10px;
	width: 36px;
	height: 34px;
}

.icon-save-money {
	background-position: 0 -36px;
	width: 36px;
	height: 34px;
}