/* IE7
-----------------------------------*/

*:first-child+html{
	.menu{
		overflow: hidden;
	}
	
	.calendar{
		margin: 0 0 0 40px;
	}
	
	.item-container{
		overflow: hidden;
	}
	.item-last{
		width: 130px;	
	}
	
	.nav li{
		float: left ;
	}
	
	.present{
		top: 90px;
	}
	.report{
		top: 90px;
	}
	.notification-block{
		top: 20px;
	}
	.tfooter{
		overflow: hidden;
	}
	
	.chart-hori-bar{
		width: 180px;
		overflow: hidden;
	}
	
	.sum{
		margin: 0 0 0 10px;
	}
	.summary-chart .item-last{
		margin-right: 0;
	}
	.logo{
		img{
			border: none;
		}
		border: none;
	}
}