.container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/*--- Var ---*/
$blue: #6ba7d7;

/* Layout
-----------------------------------*/
.header{
	height: 70px;
	padding: 0;
	color: #646464;
	font-size: 12px;
	border-bottom: 10px solid $blue;
	background-color: #ffffef;
}