@mixin border_radius($r) {
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
  -ms-border-radius: $r;
  border-radius: $r;
}

@mixin box-shadow($t){
	-moz-box-shadow:    $t;
	-webkit-box-shadow: $t;
	box-shadow:         $t;
}

@mixin font($font, $font-size, $line-height, $weight, $color){
	font: $weight #{$font-size}/#{$line-height} $font;
	color: $color;
}

@mixin box-sizing{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

@mixin clear-btn-style{
	border: none;
	font-size: 0;
	line-height: 0;
}

$link-color: 007bac;