
/* Logo
-----------------------------------*/
.logo{
	float: left;
	margin: 5px 25px 0 -50px;
}


/* Profile
-----------------------------------*/
.profile{
	float: left;
	width: 230px;
	margin: 10px 0 0 30px;
}
.profile-detail{
	font-size: 16px;
}
.profile-image{
	@include border_radius(20px);
	position: relative;
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	margin: 8px 10px 0 0;
	
	img{
		@include border_radius(20px);
	}
	
	&:hover{
		.profile-mask{
			display: block;
			cursor: pointer ;
		}		
	}	
	
	.profile-mask{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		background: url('../images/profile-mask.png') no-repeat left top;
	}
}
.mask-topbar{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 35px;
	height: 35px;
	background: transparent url('../images/mask-topbar.png') no-repeat left top;
}
.profile-log{
	margin: 5px 0 0;
}
.profile-log,.profile-msg, .profile-name{
	float: left;
}


/* Common
-----------------------------------*/
.box{
	@include border_radius(3px);
	display: inline-block;
	overflow: hidden;
	width: 90px;
	margin: 0 0 0 10px;
	padding: 2px;
	text-align: center;
	background-color: #e3e3db;
	
	&:hover{
		color: #03559d;
		background-color: #c7c7c7;
	}
}
.circle{
	@include border_radius(20px);
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	color: #959595;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
	background-color: #c7c7c7;
}
.circle-last{
	margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.t-small{
	font-size: 10px;
}
.logout{
	position: absolute;
	top: 20px;
	right: -30px;
	overflow: hidden;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -999em;
	background: url('../images/icon-topbar.png') no-repeat 0 -500px;
	
	&:hover{
		background-position: -99px -500px;
	}
}
.black{
	color: #000;
}
.item-chart{
	width: 190px;
}

.calendar-select{
	position: relative;
	
	
	.month-item{
		background: #c7c7c7;
		padding: 5px 10px;
	}
	
	.month-items{
		position: absolute;
		top: 17px;
		left: 5px;
		z-index: 999;
		width: 54px;
		text-align: center;
	}
	.month-item{
		padding: 4px 0;
		
		&:hover{
			background: #aaa;
			cursor: pointer;
		}
	}
	.year-items{
		width: 58px;
	}
	
	.hide{
		display: none;
	}
	
	*:hover{
		cursor: pointer;
	}
}



/* Menu
-----------------------------------*/
.menu{
	@include box-shadow(1px 1px 1px 1px #ccc);
	padding: 10px 20px;
	margin: 20px 0 20px;
	font-size: 12px;
	background-color: #f4f4f0;
}
.mqy, .label{
	float: left;
	width: 110px;
	margin: 0 40px 0 0;
}
.mqy{
	.active, a:hover{
		color: #fff;
		background-color: #e98223;
	}
}
.label{
	.active, a:hover{
		color: #fff;
		background-color: #03559d;
	}
}
.timeframe{
	.active, a:hover{
		color: #fff;
		background-color: #6ba7d7;
	}
}
.timeframe{
	.active, a:hover{
		color: #fff;
		background-color: #6ba7d7;
	}
}
.paper{
	a{
		color: #fff;
		display: block;
		text-indent: -999em;
		background: #c7c7c7 url('../images/icon-graph.png') no-repeat 8px 7px;
	}
	.active, a:hover{
		background: #f3ac1curl('../images/icon-graph.png') no-repeat 8px 7px;
	}
}

.timeframe{
	float: left;
	width: 160px;
	margin: 0 40px 0 0;
}


/* Notification
-----------------------------------*/
$red: #d53328;

.notification{
	@include border_radius(10px);
	position: absolute;
	top: 20px;
	right: 10px;
	width: 10px;
	height: 10px;
	padding: 3px;
	font-size: 12px;
	line-height: 11px;
	text-align: center;
	color: #fff;
	background-color: $red;
}

/* Notification Sidebar
-----------------------------------*/
.notification-block{
	@include box-shadow(1px 1px 1px 1px #ccc);
	position: absolute;
	top: 0;
	right: -55px;
	width: 45px;
	height: 50px;
	background-color: #f4f4f0;
	
	.notification{
		top: 30px;
		right: 14px;
		font-size: 10px;
		text-decoration: none;
	}
}
.none{
	background-color: #c7c7c7;
}
.notification-alert{
	width: 27px;
	height: 30px;
	margin: 5px auto;
	background: transparent url('../images/icon-graph.png') no-repeat -50px 0;
}


/* Menu Sidebar
-----------------------------------*/
.present, .report{
	@include box-shadow(1px 1px 1px 1px #ccc);
	position: absolute;
	top: 70px;
	left: -55px;
	width: 45px;
	
	.active, a.icon-graph:hover{
		background-color: #6ba7d7;	
	}
}
.report{
	left: auto;
	top: 70px;
	right: -55px;
}


/* Item Block Summary
-----------------------------------*/
.item-container{
	@include box-shadow(1px 1px 1px 1px #ccc);
	padding: 10px;
	color: #959595;
	font-family: open_sansregular;
	background-color: #fafaf3;
}
.item-block{
	float: left;
	margin: 0 20px 0 0;
	
	.text-sm{
		font-size: 12px;
	}
}
.item-last{
	float: right;
	margin: 0;
	text-align: center;
}
.item-detail{
	margin: 5px 0 0 10px;
	
	.item-date{
		width: 60px;
	}
	.item-date-month{
		font-size: 32px;
		line-height: 26px;
		font-family: open_sanslight;
	}
	.item-date-year{
		font-size: 26px;
		font-family: open_sanslight;
	}
	.item-value{
		margin: 0 0 5px;
		font-size: 20px;	
		color: #959595;
	}
	
}


/* Status
-----------------------------------*/
.status{
	
}
.status-up{
	color: #6ba7d7;
}
.status-down{
	color: #e98223;
}
.status-normal{ }


/* Chart
-----------------------------------*/
.chart{
	float: left;
	margin: 15px 10px 0 0;
}
.chart-vertical{
	position: relative;
	width: 25px;
	height: 60px;
	font-size: 13px;
	background: #c4c4c4 url('../images/line-opacity.png') no-repeat left top;
}
.chart-v-top{
	position: absolute;
	top: -20px;
	left: 0;
}
.chart-v-bottom{
	position: absolute;
	bottom: -20px;
	left: 7px;
}
.progress-bar{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25px;
	background-color: blue;
}
.progress-hori-bar{
	position: absolute;
	height: 20px;
}
.bar-mask{
	position: relative;
	width: 25px;
	height: 60px;
	z-index: 99;
	background: url('../images/line-opacity.png') no-repeat left top;
}
.bar-hori-mask{
	width: 40px;
	height: 20px;	
}
.color-bar-1{
	background-color: #2a3b84;
}
.color-bar-2{
	background-color: #6ca8d7;
}
.color-bar-3{
	background-color: #f1a91d;
}
.chart-hori-bar{
	margin: 5px 0 8px;
	font-family: open_sanslight;	
}
.chart-hori-top, .chart-hori-bottom{
	float: left;
	width: 125px;
	height: 20px;
	padding-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	background: #6ca8d7 url('../images/line-opacity.png') no-repeat left top;
}
.chart-hori-bottom{
	width: 65px;
	background: #e98223 url('../images/line-opacity.png') no-repeat left top;
}
.chart-hori-small{
	position: relative;
	width: 40px;
	height: 20px;
	padding: 0;
	margin: 0 0 0 10px;
	background: #c4c4c4 url('../images/line-opacity.png') no-repeat left top;
}


/* Calendar Menu
-----------------------------------*/
.calendar{
	float: left;
	margin: 0 0 0 50px;
}
.calendar-month, .calendar-year{
	@include border_radius(3px);
	padding: 2px 15px;
	margin: 0 5px;
	line-height: 30px;
	color: #2a3b84;
	background-color: #c7c7c7;
}
.calendar-year{
	color: #fff;
}
.calendar-label{
	color: #959595;	
}





.punn-modal{
	

	.modal-title{
		color: #646464;
		font-size: 24px;
		font-weight: normal;
		text-align: center;
	}
	
	.modal-header, .modal-footer{
		border: none;
		padding: 10px 15px;
		text-align: center;
	}
	
	.sr-only{
		display: none;
	}
	
	.modal-body{
		padding: 0 15px;
		color: #646464;
		font-size: 16px;
		
		.form-item{
			clear: both;
			margin: 0 0 10px;
			
			.form-left{
				float: left;
				width: 100px;
				text-align: right;
				margin: 0 10px 0 0;
				padding: 5px 0 0;
			}
			.form-right{
				float: left;
			}
			.form-center{
				clear: both;
				text-align: center;
				
				input{
					width: 180px;
				}
			}
		}
		input{
			@include border_radius(10px);
			width: 150px;
			padding: 7px 12px;
			border: none;
			background-color: #E4E4E4;
			
			&:focus{
				outline: none;
				background-color: darken(#E4E4E4, 10%);
			}
		}
		
		select{
			border: none;
			padding: 7px 12px;
			background-color: #E4E4E4;
		}
	}
	
	.close:hover{
		color: red;
	}
	
	.modal-footer{
		a{
			width: 20px;
			font-size: 16px;
			display: inline-block;
		}
	}
	
	.modal-content{
		background: rgba(255, 255, 255, .9);
	}
}

#accountModal, #imModal, #exModal{
	.modal-dialog{
		width: 350px;
	}
}

#chatModal{
	.modal-dialog{
		margin-top: 200px;
	}
}

#imModal, #exModal{
	.modal-body{
		text-align: center;
	}
	.modal-dialog{
		margin-top: 200px;
	}
}


/*Check*/

.follow-up{
	position: relative;
	height: 15px;
	width: 150px;
	margin: 0 auto;

	.check-line{
		position: absolute;
		top: 4px;
		left: 0;
		width: 147px;
		height: 2px;
		background: #ccc;
	}
	
	.check{
		@include border_radius(10px);
		position: relative;
		z-index: 9;
		width: 10px;
		height: 10px;
		float: left;
		margin: 0 13px 0 0;
		background: red url("../images/icon-tracking-page.png") no-repeat -349px 2px;
		
		position: relative;
		
		&:hover{
			.over{
				display: block;
			}
		}
	}
	.check-last{
		margin: 0;
	}
	
	.over{
		display: none;
		@include border_radius(10px);
		position: absolute;
		top: -30px;
		left: 0;
		width: 80px;
		text-align: center;
		padding: 5px 7px;
		color: #333;
		background: #f9f9f9;
	}
	
	.uncheck{
		@include border_radius(10px);
		width: 10px;
		height: 10px;
		float: left;
		margin: 0 13px 0 0;
		background: #ccc;
	}
}

.follow-mtn{
	text-align: center;
	margin: 0 0 5px;
}
.follow-done{
	@include border_radius(10px);
	width: 35px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 11px;
	background-color: red;
}


/*Chat log*/
.chat-host-1, .chat-host-2{
	float: left;
	width: 40px;
	margin: 2px 7px 0 0;
}
.chat-log{
	p{
		margin: 0;
		text-align: left;
		color: #646464;
	}
}
#chatModal{
	.modal-dialog{
		width: 350px;		
	}
	.chat-msg{
		height: 100px;
		overflow-y: scroll;
	}
}

.im-stauts{
	width: 150px;
	word-break: break-all;
}