/* Nav
-----------------------------------*/
$nav-link: #959595;
$nav-link-hover: #ffffef;
$nav-link-bg: #6ba7d7;

$x-pos: 35px;
$x-pos-hover: -65px;
$y-pos-plus: 10px;
$y-pos-fix: -100px;

.nav{
	margin: 0;
	padding: 0;
	list-style: none;
	
	li{
		a{
			position: relative;
			overflow: hidden;
			float: left;
			width: 100px;
			height: 25px;
			font-size: 16px;
			padding: 45px 0 0;
			color: $nav-link;
			text-align: center;
			text-decoration: none;
			background: url('../images/icon-topbar.png') no-repeat left top;
			
			&:hover {
				color: $nav-link-hover;
				background-color: $nav-link-bg;
			}
		}		
	}
	
	.active{
		color: $nav-link-hover;
		background-color: $nav-link-bg;
	}
	
	.dashboard{
		a{
			background-position: $x-pos 0+$y-pos-plus ;
			
			&:hover, &.active{
				background-position: $x-pos-hover 0+$y-pos-plus;
			}
		}
	}
	.conversation{
		a{
			background-position: $x-pos ($y-pos-fix)+$y-pos-plus;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix)+$y-pos-plus;
			}
		}
	}
	.schedule{
		a{
			background-position: $x-pos ($y-pos-fix * 2)+$y-pos-plus+4;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 2)+$y-pos-plus+4;
			}
		}
	}
	.reports{
		a{
			background-position: $x-pos ($y-pos-fix * 3)+$y-pos-plus+5;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 3)+$y-pos-plus+5;
			}
		}
	}
	.payment{
		a{
			background-position: $x-pos ($y-pos-fix * 4)+$y-pos-plus+7;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 4)+$y-pos-plus+7;
			}
		}
	}
}

.nav-tracking{
	li{
		a{
			background: url('../images/nav-tracking.png') no-repeat left top;
		}		
	}
	
	.nav-follow a{
		background-position: $x-pos 0+$y-pos-plus ;
		
		&:hover, &.active{
			background-position: $x-pos-hover 0+$y-pos-plus;
		}
	}
	.nav-announcement{
		a{
			background-position: $x-pos ($y-pos-fix)+$y-pos-plus;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix)+$y-pos-plus;
			}
		}
	}
	.nav-customer{
		a{
			background-position: $x-pos ($y-pos-fix * 2)+$y-pos-plus+4;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 2)+$y-pos-plus+4;
			}
		}
	}
	.nav-team{
		a{
			background-position: $x-pos ($y-pos-fix * 3)+$y-pos-plus+2;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 3)+$y-pos-plus+2;
			}
		}
	}
	.nav-payment{
		a{
			background-position: $x-pos ($y-pos-fix * 4)+$y-pos-plus+4;
			
			&:hover, &.active{
				background-position: $x-pos-hover ($y-pos-fix * 4)+$y-pos-plus+4;
			}
		}
	}
}