/* Table
-----------------------------------*/
/*--- Set Default of Table ---*/
.table{
	color: #000;
	@include box-shadow(1px 1px 1px 1px #ccc);
	border: 1px solid #ccc;
}
.table-gray{
	color: #959595;
}
.row{
	height: 45px;
	clear: both;
	border-bottom: 1px solid #ccc;
}
.row-even{
	background-color: #e8e8e4;
}
.thead{
	border-bottom: 1px solid #ccc;
	color: #959595;
	
	.color-col, .description-col, .month-col, .trend-col{
		height: 30px;	
		padding: 25px 10px 10px;
	}
	.month-col{
		padding: 15px 10px 20px;	
	}
}

.tfooter{
	clear: both;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #f3f3ef;
	
	.description-col, .color-col, .trend-col{
		height: 20px;
		padding: 5px 10px 10px;
	}
}


.table-color{
	.color-col{
		font-size: 11px;
		width: 30px;
		padding: 25px 5px 10px;
	}

	.tbody{
		.color-col{
			font-size: 11px;
			width: 30px;
			padding: 15px 5px 10px;
		}
	}
	.tfooter{
		.color-col{
			padding: 15px 5px 0px;
		}

	}
}

.table-result{
	position: relative;
	width: 960px;
	
	.color{
		width: 40px;
	}
	.description{
		width: 340px;
	}
	.month{
		width: 95px;
	}
	.trend{
		position: absolute;
		top: auto;
		right: 0;
		width: 115px;
		background-color: gray;
	}
	tr{
		position: relative;
	}
}
.table-benchmark{
	color: #959595;
	
	.color-col{
		width: 60px;
	}
	.description-col{
		width: 320px;
	}
	.tbody{
		background-color: #f2f2ee;
	}
	.thead{
		.color-col{
			height: 20px;
			padding: 15px 10px 30px 10px;
		}
	}
}


/*--- Set Colunm ---*/
.name-col{
	float: left;
	width: 422px;
	text-align: center;
	border-left: 1px solid #ccc;
	background-color: #f9f9ef;
}

/*--- Set Overflow for hidden col item panel ---*/
.month-wrap-col{
	float: left;
	width: 400px;
	overflow: hidden;
	text-align: center;
	background-color: #f9f9ef;
}
/*--- Set width for maximun item ---*/
.month-inner{
	width: 2000px;
}
.month-space-col{
	float: left;
	width: 400px;
}
.detail-col{
	float: left;
	width: 134px;
	text-align: center;
	border-right: 1px solid #ccc;
	background-color: #f9f9ef;
}
.color-col{
	float: left;
	width: 40px;
	height: 20px;
	padding: 15px 10px 10px;
	font-family: open_sansregular;
	border-right: 1px solid #ccc;
	
	
}
.description-col{
	float: left;
	width: 360px;
	height: 20px;
	padding: 15px 10px 10px;
	font-family: open_sansregular;
	border-right: 1px solid #ccc;
}
.month-col{
	float: left;
	width: 80px;
	height: 20px;
	padding: 5px 10px 20px;
	text-transform: uppercase;
	font-family: open_sansregular;
	border-right: 1px solid #ccc;
}
.trend-col{
	float: left;
	width: 110px;
	height: 25px;
	padding: 10px;
	font-family: open_sansregular;
	border-left: 1px solid #ccc;
}
.description-col{
	.btn-left{
		float: right;
	}
}
.description-text{
	float: left;
	margin: 0 0 0 20px;
}
.month-detail{
	text-align: right;
	height: 20px;
	padding: 15px 10px 10px;
}

/*--- Color Row ---*/
.blue-row{ 
	background-color: #e4eaec; color: #6ba7d7;
	
	.row-even{
		background-color: #dbe1e1;
	}
}
.blue-light-row{ 
	background-color: #ecefee; color: #959595;
	
	.row-even{
		background-color: #e1e4e2;
	}
}
.blue-lighten-row{
	background-color: #0f9dd5; color: #959595;
	
	.row-even{
		background-color: #e1e4e2;
	}
}

.blue-mid-row{ 
	background-color: #ddecee; color: #6ba7d7;
	
	.row-even{
		background-color: #d1dee0;
	}
}
.blue-mid-light-row{ 
	background-color: #e6eeed; color: #959595;
	
	.row-even{
		background-color: #dce3e2;
	}
}
.blue-mid-lighten-row{
	background-color: #e7efee; color: #959595;
	
	.row-even{
		background-color: #dce3e2;
	}
}

.blue-dark-row{ 
	background-color: #dbe3e7; color: #6ba7d7;
	
	.row-even{
		background-color: #d1dadd;
	}
}
.blue-dark-light-row{
	background-color: #e7ebeb; color: #959595;
	
	.row-even{
		background-color: #dbe0df;
	}
}
.blue-dark-lighten-row{
	background-color: #e8ecec; color: #959595;
	
	.row-even{
		background-color: #dbe0df;
	}
}

.orange-row{ 
	background-color: #f1e1dc; color: #df5226;
	
	.row-even{
		background-color: #e5d5d0;
	}
}
.orange-light-row{
	background-color: #f1e9e5; color: #959595;
	
	.row-even{
		background-color: #e7dfda;
	}
}
.orange-lighten-row{
	background-color: #f1e9e5; color: #959595;
	
	.row-even{
		background-color: #e7dfda;
	}
}

.orange-mid-row{
	background-color: #f2e3d2; color: #e98326;
	
	.row-even{
		background-color: #e8d9c8;
	}
}
.orange-mid-light-row{
	background-color: #f2e8db; color: #959595;
	
	.row-even{
		background-color: #e7ddd0;
	}
}
.orange-mid-lighten-row{
	background-color: #f2ede5; color: #959595;
	
	.row-even{
		background-color: #e7ddd0;
	}
}

.orange-dark-row{
	background-color: #f4ecdb; color: #f1aa1f;
	
	.row-even{
		background-color: #e8e1cf;
	}
}
.orange-dark-light-row{ 
	background-color: #f4f0e5; color: #959595;
	
	.row-even{
		background-color: #e7e3d8;
	}
}
.orange-dark-lighten-row{
	background-color: #f4f0e5; color: #959595;
	
	.row-even{
		background-color: #e7e3d8;
	}	
}

/*--- Heading (Colour Column) ---*/
.blue-row-1{background: #6ba7d7 url('../images/line-opacity-small.png') no-repeat left top;}
.blue-row-2{background: #6ba7d7 url('../images/line-opacity-med.png') no-repeat left top;}
.blue-row-3{background: #6ba7d7 url('../images/line-opacity-large.png') no-repeat left top;}

.blue-light-row-1{background: #0f9dd5 url('../images/line-opacity-small.png') no-repeat left top;}
.blue-light-row-2{background: #0f9dd5 url('../images/line-opacity-med.png') no-repeat left top;}
.blue-light-row-3{background: #0f9dd5 url('../images/line-opacity-large.png') no-repeat left top;}

.blue-dark-row-1{background: #03559d url('../images/line-opacity-small.png') no-repeat left top;}
.blue-dark-row-2{background: #03559d url('../images/line-opacity-med.png') no-repeat left top;}
.blue-dark-row-3{background: #03559d url('../images/line-opacity-large.png') no-repeat left top;}

/*--- Orange ---*/
.orange-row-1{background: #df5125 url('../images/line-opacity-small.png') no-repeat left top;}
.orange-row-2{background: #df5125 url('../images/line-opacity-med.png') no-repeat left top;}
.orange-row-3{background: #e15b32 url('../images/line-opacity-large.png') no-repeat left top;}

.orange-light-row-1{background: #e98223 url('../images/line-opacity-small.png') no-repeat left top;}
.orange-light-row-2{background: #e98223 url('../images/line-opacity-med.png') no-repeat left top;}
.orange-light-row-3{background: #e98223 url('../images/line-opacity-large.png') no-repeat left top;}

.orange-dark-row-1{background: #f1a91d url('../images/line-opacity-small.png') no-repeat left top;}
.orange-dark-row-2{background: #f1a91e url('../images/line-opacity-med.png') no-repeat left top;}
.orange-dark-row-3{background: #f1a91d url('../images/line-opacity-large.png') no-repeat left top;}


.indent-lv1{
	margin-left: 30px;
}
.indent-lv2{
	margin-left: 45px;
}
.indent-lv3{
	margin-left: 55px;
}
.heading-summary{
	font-family: open_sanslight;	
}
.heading-big{
	margin: 10px 0 0;
	font-size: 18px;
}
.heading-small{
	font-size: 37px;
}