@import 'mixin.scss';
@import 'layout';
@import 'font';
@import 'button';
@import 'icon';
@import 'nav';
@import 'table';
@import 'module';
@import 'ie';

body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: thaisansneue_black, Thonburi,Arial,sans-serif;
	font-weight: lighter;
	background-color: #e0e0e0;
	
	&.lang-en{
		/*font-family: open_sansregular;*/
	}
	&.lang-th{
		/*font-family: thaisans_neueregular;*/
	}
}

.table-management-report{
	color: #646464;
	border-collapse: collapse;
	width: 960px;
	
	td{
		border: 1px solid #ccc;
		background-color: #f2f2ee;
	}
	th{
		padding: 5px 0;
		border: 1px solid #ccc;
		text-align: center;
		background: #fff;
	}
	.header-info{
		width: 300px;
	}
	.header-finance{
		width: 200px;
	}
	.header-im{
		width: 200px;
	}
	.header-follow{
		width: 200px;
	}
	
	.col-info{
		background-color: #f9f9ef
	}
	.col-finance{
		background-color: #d5e3e4;
	}
	.col-im{
		background-color: #f9edce;
	}
	.col-follow{
		background-color: #f6dfcf;
	}
	.col-center{
		text-align: center;
		
		.btn-action{
			margin: 0;
		}
	}
	
	.profile-img{
		width: 30px;
		margin: 5px auto;
	}
	.company-name{
		padding: 0 5px;
	}
	
	
	.im-stauts{
		position: relative;
		
		.dotted-color{
			position: absolute;
			top: 47%;
			left: 10px;
		}
		.im-msg, .im-time{
			padding: 0 0 0 30px;
			float: left;
		}
		.im-time{
			color: #959595;
		}
	}
	
}
.block{
	display: block;
	margin: 0 0 2px;
}
.company-owner,
.company-pm{
	color: #646464;
}

.radius{
	@include border_radius(100%);
}
.radius-10{
	@include border_radius(100px);
}

/*Label Color*/
.label-color{
	color: #646464;
	padding: 2px 7px;
}
.label-color-1{
	background-color: #98c2e3;
}
.label-color-2{
	background-color: #f5c361;
}
.label-color-3{
	color: #fff;
	background-color: #4f88bb;
}
.label-color-4{
	background-color: #e98667;
}
.label-color-5{
	background-color: #f0a865;
}

/*Label Color*/
.dotted-color{
	@include border_radius(100%);
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
.dotted-color-1{
	background-color: #df5125;
}
.dotted-color-2{
	background-color: #e98223;
}
.dotted-color-3{
	background-color: #f1a91d;
}

/*btn*/
.btn-im{
	color: #03559d;
	background-color: #80a7cb;
}
.btn-im-active{
	color: #5b6799;
	background-color: #9098bc;
}

.btn-blue{
	color: #fff;
	background-color: #c0d5e3;
	
	&:hover{
		color: #fff;
		background-color: #93bddf;
	}
}
.btn-green{
	background-color: #f0dbb1;
	
	&:hover{
		color: #fff;
		background-color: #f1be5d;
	}
}
.btn-gray{
	background-color: #d3d3d3;
	
	&:hover{
		color: #fff;
		background-color: darken(#d3d3d3, 10%);
	}
}
.btn-dark-green{
	display: block;
	width: 148px;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 20px;
	color: #5c8b1d;
	text-align: center;
	background-color: #b7e679;
	
	&:hover{
		color: #309764;
		background-color: #83dcb0;
	}
}




/*Tracking Page*/
.tracking-summary{
	padding: 13px 15px 3px;
	color: #646464;
	font-family: thaisansneue_black;

	.item-block{
		width: 160px;
		text-align: center;
	}
	.customer-total{
		font-size: 18px;
	}
	.msg-status{
		margin: 20px 0 0;
		
		.dotted-color{
			margin: 5px 5px 0 0px;
		}
	}
	.icon-customer{
		margin: 15px 0 0;
	}
	.icon-msg{
		margin: 0;	
	}
	
	/*Text*/
	.customer-report, .msg-status{
		overflow: hidden;
		font-size: 14px;
		
		.block{
			font-size: 18px;
		}
	}
}


/*create-new-account*/
.create-new-account{
	margin: 20px 0 10px;
	
}

.company-name{
	color: #2a3b84;
	text-decoration: underline;
}

//////////////////////////////
.tracking-summary .item-block.small {
	width: auto;
	text-align: center;
}

.col-info {
	position: relative;
	padding: 20px 0 !important;
}
.table-sort {
	.icon-sort { display: none; }
	&:hover {
		.icon-sort { display: block; }
	}
}
.icon-sort {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -13px;
	padding: 5px 5px 10px 5px;
	width: 15px;
	height: 7px;
	text-indent: -999em;
	background: transparent url('../images/icon-sort.png') no-repeat top left;
	&.left { left: 15px; }
	&.right { left: 35px; }
	&:hover {
		cursor: pointer;
	}
	&.desc {
		background-position: 6px 6px;
		&:hover{
			background-position: -15px 6px; 
		}
	}
	&.asc {
		background-position: 6px -16px;
		&:hover{
			background-position: -16px -16px;
		}
	}
}

.disable{
	background-color: #d8d8d8;
}

.radius-5{
	@include border_radius(5px);
}

.table-management-report tr.even td {
	background-color: #e5e5e5;
}

.btn-dark-green.btn-dark-blue{
	display: block;
	width: 148px;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 20px;
	color: #4b84b6;
	text-align: center;
	background-color: #b5d3eb;
	@include box-shadow(0px 1px 2px 0px #ccc);
	&:hover{
		color: #2a3b84;
		background-color: #81aace;
	}
}

.item-block.on-off {
	margin-right: 8px;
	.customer-report.middle {
		float: left;
		margin-right: 8px;
		margin-top: 25px;
	}
	.label-color { 
		display: block;
		width: 20px;
		margin-right: 0;
		@include box-shadow(0px 1px 1px 0px #ccc);
		&:hover { cursor: pointer; }
	}
	.off {
		color: #646464;
		background-color: #d8d8d8;
		&:hover { background-color: #dfdfdf; }
	}
	.on {
		&.label-color-1:hover {
			background-color: #cadeea;
		}
		&.label-color-2:hover {
			background-color: #f7d89a;
		}
		&.label-color-3:hover {
			background-color: #78a4c8;
		}
		&.label-color-4:hover {
			background-color: #e8997f;
		}
		&.label-color-5:hover {
			background-color: #f5ca9f;
		}
	}

}
.item-block.margin-left-30 {
	margin-left: 30px;
	.label-color { display: block; }
}
.item-block.margin-left-50 {
	margin-left: 50px;
	.label-color { display: block; }
}
.table-client {
	th { font-weight: normal; }
	.label-color {
		display: inline-block;
		width: 20px;
	}
}
.checkmark {
	display: block;
	width: 14px;
	height: 12px;
	margin: 0 auto;
	background: transparent url('../images/check-mark.png') no-repeat top left;
}
.block-search {
	position: absolute;
	top: -58px;
	right: 0;
}
.client-search {
	border: none;
	text-align: center;
	padding: 5px 0;
	font-family: thaisansneue_black;
	font-size: 1.3em;
}